@page "/"

@using IndieSphere.Web.Shared.Components

@inject NavigationManager Navigation
@* @rendermode InteractiveServer *@

<PageTitle>IndieSphere</PageTitle>

<div style="width:50%">
    <SearchBar OnItemSelected="HandleSearch"></SearchBar>
</div>


@code {
    public void HandleSearch(string term)  
    {
        // URL encode the search term to handle special characters
        var encodedTerm = Uri.EscapeDataString(term);

        // Navigate to search component with term as route parameter
        Navigation.NavigateTo($"/search/{encodedTerm}");
    }  
}