@page "/"
@rendermode InteractiveServer

@using IndieSphere.Domain.User
@using IndieSphere.Web.Infrastructure.UserClient;

@inject UserClient service

<PageTitle>IndieSphere</PageTitle>


<input type="number" @bind-value="userId" @bind-value:event="oninput" placeholder="Enter User ID" />
<button class="btn btn-primary" @onclick=GetUser>Get User</button>

<button @onclick=Test>Test btn</button>

<h3>@user?.Username</h3>
<h3>@test</h3>

@code {
    private int userId = 0;
    private User? user;
    private string test = string.Empty;

    private void Test()
    {
        test = "hello";
    }

    private async Task GetUser()
    {

        user = await service.GetUser(userId);
        

    }
}